body {
background-color:#f8f8f8;
font-family:verdana,helvetica,arial,sans-serif;
font-size-adjust:0.58;
font-size:.8em;
}

table, th, td, h1, h2, h3, h4, p, pre, strong, em, b, i, div, span {
font-family:verdana,helvetica,arial,sans-serif;
font-size:100%; /* omgå sær opførsel i IE5.5 */
}

h1, h2, h3, h4, h5, h6 {
color:SteelBlue;
clear:both;
}

h1 {
font-size:180%;
font-weight:bold;
}
h1:first-child {
margin-top:.4ex;
}
h2 {
font-size:140%;
font-weight:bold;
margin-top:1em;
margin-bottom:.1em;
}
h3 {
font-size:115%;
color:#e36c0a;
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
border:none;
}


@media print {
body { background-color:white; }
}
