<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EQATEC.Tracer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EQATEC.Tracer.Properties.Settings>
            <setting name="StateExtension" serializeAs="String">
                <value>Set</value>
            </setting>
            <setting name="TimeColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ThreadIdColor" serializeAs="String">
                <value>#FF4B0082</value>
            </setting>
            <setting name="TypeColor" serializeAs="String">
                <value>#FF4169E1</value>
            </setting>
            <setting name="FunctionNameColor" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="FunctionDataColor" serializeAs="String">
                <value>#FF228B22</value>
            </setting>
            <setting name="ExceptionColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="FlushColor" serializeAs="String">
                <value>#FFFFAA00</value>
            </setting>
            <setting name="SelectedLine" serializeAs="String">
                <value>#FF5988FF</value>
            </setting>
            <setting name="ReturnLeaveColor" serializeAs="String">
                <value>#FF828BB5</value>
            </setting>
            <setting name="Log4NetLevelColor" serializeAs="String">
                <value>#FF5D701C</value>
            </setting>
            <setting name="Log4NetTraceColor" serializeAs="String">
                <value>#FFE2A02D</value>
            </setting>
        </EQATEC.Tracer.Properties.Settings>
    </applicationSettings>
</configuration>